<head>
  <title>amazon wishlists</title>
  <link rel="stylesheet" href="/sass/style.css" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="/js/jquery.fittext.js"></script>
  <script>
    jQuery("#bliss").fitText(1.2, { minFontSize: '20px', maxFontSize: '40px' });
  </script>
</head>

<body>
  <div class="container">
    <div class="table-set">
      <nav>
          <div id="bliss">
            Bliss
          </div>
          <div class="bliss-details">
            <span class="lists">Lists</span>
            <span>Wish No More</span>
          </div>
          <div class="buttons">
            <button class="sign-up">Sign Up to See Your Wishlists</button>
          </div>
      </nav>
      <section>
        <div class="wishlist-title">
          <img src="/images/heart.png" class="heart"/>
          <span id="title-text">Baby Rex's Wishlist</span>
        </div>
        <div class="wishlist-details">
          <div class="countdown">Arrives in 45 Days</div>
          <div class="location">Location: Pasadena, California</div>
        </div>
        <% wishlist_data.each do |item| %>
          <div class="wishlist-item-container">
            <div class="wishlist-item">
              <span class="product-image"><a href="<%= item[:link] %>"><%= item[:image] %></a></span>
              <span class="product-data">
                <%= item[:name] %>
                <br/>
                <%= item[:rating] %>
              </span>
              <span class="buy-product">
                <a href="<%= item[:link] %>"><button class="buy-on-amazon">Buy on Amazon</button></a>
                <p><span>Only  </span><span id="price"><%= item[:price] %></span></p>
              </span>
            </div>
          </div>
        <% end %>
    </section>
    </div>
  </div>
</body>
